.Comment {
 background-color: #FFFEF2;
 border-style: outset;
 border-radius: 15px;
 text-align: left;
 word-wrap: break-word;
 padding: 5px;
 margin-top: 2px;
 margin-bottom: 5px;
 margin-right: 5px;
 font-size: .9em;
}

.Comment:hover {
 background-color: #FFE2B1;
}
