.Task {
 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
 transition: 0.3s;
 width: 210px;
 min-height: 30px;
 background-color: #fff;
 text-align: left;
 word-wrap: break-word;
 border-radius: 5px;
 color: #535969;
 padding: 3px;
 margin: 7px;
}

.Task:hover {
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
    color: #000000;
}

.TaskContent {
  font-size: .9em;
  padding: 0px 2px;
  margin: 5px 0px;
  color: #535969;
  border-radius: 1px;
}

li {
 list-style-type: none;
}

.button {
  width: 10em;
  margin: 0 auto;
  margin-left: 25vw;
  height: 3em;
}

button:hover {
  background-color: #FFCF76;;
  border-radius: 5px;
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);

}

.Workflow:hover {
  background-color: #7083B2;
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2);
}

.Workflow {
 width: 25%;
 margin: 25px;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 background-color:  #535969;
 float: left;
 padding: 10px;
 text-align: center;
 overflow: hidden;
 border-radius: 5px;
}

.WorkflowTitle {
  font-size: 25px;
  padding: 0px 2px;
  margin: 5px 0px;
  color: #ffffff;
}
form {
  width:80%;
  border: 2px solid grey;
  margin: 0 auto;
  text-align: center;
  padding: 1em;
  border-radius: 12px;
  background-color: lightgrey;
}

form input {
  margin: 1em;
}

/* Media Queries */
@media(max-width: 600px) {
  .flexContainer {
    padding-left: 67px;
  }
}
