
.Workflow {
 background-color:  #7F8C8D;
 width: 250px;
 height: 100%;
 max-height: calc(100vh - 140px);
 display: inline;
 float: left;
 padding: 10px;
 padding-left: 5px;
 text-align: center;
 overflow: hidden;
}

.WorkflowTitle {
  font-size: 25px;
  padding: 0px 2px;
  margin: 5px 0px;
  color: #ffffff;
}

.button {
  width: 10em;
  margin: 0 auto;
  margin-left: 25vw;
  height: 3em;
}

form {
  width:80%;
  border: 2px solid grey;
  margin: 0 auto;
  text-align: center;
  padding: 1em;
  border-radius: 12px;
  background-color: lightgrey;
}

form input {
  margin: 1em;
}

/* Media Queries */
@media(max-width: 600px) {
  .flexContainer {
    padding-left: 67px;
  }
}
